################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWSExample/.vs/AWSExample
/AWSExample/AWSServerless1/bin/Debug/netcoreapp2.1/Properties
